/* Background stars animation */
#bgCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  color: white;
}

/* Welcome my project message */
.reveal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.welcome{
  font-size: 3rem;
  margin-bottom: 10px;
  animation: welcome 500ms ease 1700ms 1 forwards;
}

/* my project disappearing animation */
@keyframes welcome {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.highlight {
  color: #00eaff;
  text-shadow: 0 0 15px #00eaff;
}

/* Hero card main div (container) */
.hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.intro-card {
  height: 40%;
  width: 55%;
  overflow: hidden;
  padding: 40px 60px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 200, 255, 0.4);
  transform-style: preserve-3d;
  transition: transform .3s ease;
  display: flex;
  flex-direction: column;
  animation: project-ani 2s ease 100ms forwards;
}

/* intro card size increasing animation */
@keyframes project-ani {
 
  0% {
    height: 40%;
    width: 55%;
  }

  100% {
    height: 60%;
    width: 55%;
  }
}

.intro-card:hover {
  box-shadow: 0 0 60px rgba(0, 200, 255, 0.7), 0 0 30px rgba(255, 0, 200, 0.5);
}

.first-project{
  animation: animation 500ms ease 1750ms 1 forwards;
  opacity: 0;
  visibility: hidden;
}

/* intro card inside content coming animation */
@keyframes animation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

/* first project div */
.first-project h1{
  font-weight: 20px;
  color: #00eaff;
  text-shadow: 0 0 15px #00eaff;
}

.first-project h3{
  margin-top: 25px;
  opacity: 0.8;
  font-size: 20px;
}

.outer-list{
  margin-top: 20px;
  margin-left: 17px;
}

.inner-list{
  margin-left: 30px;
}

/* click to experience div */
.experience p{
  color: #fff;
  font-size: 13px;
  text-align: center;
  font-style: italic;
  position: relative;
  top: -50px;
}

.experience span{
  color: #00eaff;
  text-shadow: 0 0 15px #00eaff;
}

@media (max-width: 600px) {
  .hero {
    height: 100%;
    width: 100%;
  }

  .intro-card {
    height: 75%;
    width: 80%;
    padding: 20px 30px;
    backdrop-filter: blur(11px);
  }
  
}