* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  color: white;
}

/* Background */
#bgCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

/* Hero Section */
.hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.intro-card {
  height: 40%;
  width: 55%;
  padding: 40px 60px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 200, 255, 0.4);
  transform-style: preserve-3d;
  transition: transform .3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-card:hover {
  box-shadow: 0 0 60px rgba(0, 200, 255, 0.7), 0 0 30px rgba(255, 0, 200, 0.5);
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.highlight {
  color: #00eaff;
  text-shadow: 0 0 15px #00eaff;
}

.typing {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #eee;
  min-height: 1.8rem;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards 400ms;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.mobile-line {
  display: none;
}

.btns {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.btn {
  padding: 12px 25px;
  border-radius: 30px;
  background: linear-gradient(90deg, #00eaff, #ff00d4);
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: .3s;
}

.btn:hover {
  transform: scale(1.1);
}

.btn.ghost {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
}

.btn.ghost:hover {
  background: white;
  color: #000;
}

@media (max-width: 600px) {

  body,
  html {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero {
    height: 85%;
    width: 90%;
    z-index: 1;
  }

  .intro-card {
    height: 90%;
    width: 90%;
    padding: 40px 60px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 200, 255, 0.4);
    transform-style: preserve-3d;
    transition: transform .3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .intro-card:hover {
    box-shadow: 0 0 60px rgba(0, 200, 255, 0.7), 0 0 30px rgba(255, 0, 200, 0.5);
  }

  h1 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    text-align: left;
    margin-top: -10px;
    margin-left: -20px;
    margin-bottom: 30px;
  }

  .namehighlight {
    color: #00eaff;
    text-shadow: 0 0 15px #00eaff;
    font-size: 3rem;
    text-align: center;
  }

  .typing {
    font-size: 1rem;
    margin-bottom: 25px;
    color: #eee;
    min-height: 1.8rem;
  }

  .fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards 400ms;
    line-height: 25px;
    margin: 0px -10px;
    margin-bottom: 20px;
    font-size: 24px;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

  .mobile-line {
    display: block;
    width: 120%;
    border: 0.8px solid #dcdcdc;
    box-shadow: 0 0 25px rgba(0, 200, 255, 0.7);
    margin-bottom: 15px;
  }

  .btns {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .btn {
    padding: 12px 25px;
    border-radius: 30px;
    background: linear-gradient(90deg, #00eaff, #ff00d4);
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .3s;
  }

  .btn:hover {
    transform: scale(1.1);
  }

  .btn.ghost {
    height: 40px;
    width: 120px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    font-weight: 200;
    font-size: 13px;
  }

  .btn.ghost:hover {
    background: white;
    color: #000;
  }

}