#bgCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  color: white;
}

.hero {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

.intro-card {
  height: 55%;
  width: 60%;
  padding: 40px 60px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 200, 255, 0.4);
  transform-style: preserve-3d;
  transition: transform .3s ease;
  display: flex;
  flex-direction: column;
  animation: form-ani 1200ms ease 100ms forwards;
}

.reveal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.intro{
  color: #ffffff;
  font-size: 24px;
}

.special{
  color: #00eaff;
  text-shadow: 0 0 15px #00eaff;
}

.freelance p{
  color: #fff;
  font-size: 13px;
  text-align: center;
  font-style: italic;
  position: relative;
  top: -50px;
}

.freelance span{
  color: #00eaff;
  text-shadow: 0 0 15px #00eaff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 16px;
  resize: none;
}

.name{
  width: 35%;
}

.email{
  width: 60%;
}

.formBtn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background: #00adbd;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-start;
  transition: background 0.3s ease;
}

.formBtn:hover{
  background: #00eaff;
  box-shadow: 0 0 5px rgba(0, 200, 255, 0.7), 0 0 3px rgba(255, 0, 200, 0.5);
}

@keyframes form-ani {

  0% {
    height: 40%;
    width: 55%;
  }

  100% {
    height: 60%;
    width: 55%;
  }
}

.intro-card:hover {
  box-shadow: 0 0 60px rgba(0, 200, 255, 0.7), 0 0 30px rgba(255, 0, 200, 0.5);
}

.welcome{
  font-size: 3rem;
  margin-bottom: 10px;
  animation: welcome 500ms ease 1700ms 1 forwards;
}

@keyframes welcome {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.animation{
  animation: animation 500ms ease 1750ms 1 forwards;
  opacity: 0;
  visibility: hidden;
}

@keyframes animation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.highlight {
  color: #00eaff;
  text-shadow: 0 0 15px #00eaff;
}

@media (max-width: 600px) {
  .hero {
    height: 100%;
    width: 100%;
  }

  .intro-card {
    height: 75%;
    width: 80%;
    padding: 20px 30px;
    backdrop-filter: blur(11px);
  }

}